<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <center>
        <h1>Welcome to the Mato</h1>
        <p>Template Engine EJS</p>
        <hr />
        <a href="https://github.com/andre-X-aguiar/express-template">Express Template (github)</a>
    </center>
</body>

</html>